/*Reset default CSS*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*
CSS for icon styling originally produced by duiker101
GitHub: https://github.com/duiker101/pokemon-type-svg-icons
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

.icon {
  border-radius: 100%;
  height: 40px;
  width: 45px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 200ms all;
  text-align: center;
}

.icon:hover {
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.bug {
  background: #92bc2c;
  box-shadow: 0 0 20px #92bc2c;
  margin-top: 10px;
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0c69c8;
  box-shadow: 0 0 20px #0c69c8;
}

.electric {
  background: #f2d94e;
  box-shadow: 0 0 20px #f2d94e;
}

.fire {
  background: #fba54c;
  box-shadow: 0 0 20px #fba54c;
}

.fairy {
  background: #ee90e6;
  box-shadow: 0 0 20px #ee90e6;
}

.fighting {
  background: #d3425f;
  box-shadow: 0 0 20px #d3425f;
}

.flying {
  background: #a1bbec;
  box-shadow: 0 0 20px #a1bbec;
}

.ghost {
  background: #5f6dbc;
  box-shadow: 0 0 20px #5f6dbc;
}

.grass {
  background: #5fbd58;
  box-shadow: 0 0 20px #5fbd58;
}

.ground {
  background: #da7c4d;
  box-shadow: 0 0 20px #da7c4d;
}

.ice {
  background: #75d0c1;
  box-shadow: 0 0 20px #75d0c1;
}

.normal {
  background: #a0a29f;
  box-shadow: 0 0 20px #a0a29f;
}

.poison {
  background: #b763cf;
  box-shadow: 0 0 20px #b763cf;
}

.psychic {
  background: #fa8581;
  box-shadow: 0 0 20px #fa8581;
}

.rock {
  background: #c9bb8a;
  box-shadow: 0 0 20px #c9bb8a;
}

.steel {
  background: #5695a3;
  box-shadow: 0 0 20px #5695a3;
}

.water {
  background: #539ddf;
  box-shadow: 0 0 20px #539ddf;
}

#search-filter {
  overflow-y: scroll;
  background-color: #8ecae6;
  width: 70px;
  height: 100vh;
  box-shadow: 0 0 20px #8ecae6;
  display: block;
  font-size: small;
  border-radius: 20px;
}

#search-filter::-webkit-scrollbar {
  display: none;
}

#search-box {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #023047;
  width: 180px;
  height: 100vh;
  text-align: center;
  border-radius: 20px;
}
#search-box::-webkit-scrollbar {
  display: none;
}

#root {
  display: flex;
}

#content {
  background-color: white;
  flex: 1;
}
.bg {
  background-image: url(./src/img/background.jpg);
  position: absolute;
  filter: blur(20px);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  scale: 1.1;
}

#search-input-text {
  height: 30px;
  border-radius: 15px;
  margin-top: 5px;
  max-width: 164px;
  width: 100%;
  margin-bottom: 10px;
}

.pokemon-search {
  font-size: small;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  background-color: #219ebc;
  border-radius: 20px;
}
.pokemon-search:hover {
  transform: translateY(-5px) scale(1.03);
}
.list-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 1px;
}

.pokemon-search img {
  padding: 3px;
}

#content {
  display: flex;
  background: transparent;
  flex-direction: column;
}

#content .icon:hover {
  transform: none;
  scale: none;
  cursor: default;
}

#pokemon-preview {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

#saved-pokemon-teams {
  width: 200px;
  background-color: #fb8500;
}

.pokemon-preview-card{
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: #ffffff7e;
  height: 200px;
  width: 480px;
  margin: 2px;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  background-image: linear-gradient(to bottom right, #04669699, #d0a73f99);
  
}

#pokemon-submit-container {
  flex: 1;
}

.pokemon-icon {
  margin-left: 15px;
  margin-top: 5px;
  text-align: center;
  font-size: larger;
}

.pokemon-icon img {
  width: 100px;
  height: 100px;
}

.pokemon-typing-icons {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.pokemon-typing-icons img {
  margin-bottom: 10px;
}

.pokemon-icon p {
    margin-top: 15px;
}

.pokemon-card-defense-stats{
    width: 120px;
    text-align: left;
    font-size: larger;
}
.pokemon-card-defense-stats p {
    margin-bottom: 45px;
}
.pokemon-card-offense-stats{
    width: 120px;
    text-align: left;
    font-size: larger;
}
.pokemon-card-offense-stats p {
    margin-bottom: 45px;
}
.saved-team-card {
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  width: 100%;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 20px;
  background-color: #ffb703;
}
.saved-team-card img {
    height: 25px;
    width: auto;
}

#saved-pokemon-teams {
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 20px;
}

#saved-pokemon-teams ::-webkit-scrollbar {
    display: none;
}

.saved-team-card:hover{
    transform: translateY(-5px) scale(1.03)
}

#saved-team-header {
    text-decoration: underline;
    outline: black;
    outline-style: double;
    margin-bottom: 10px;
}

#submit-team-container {
    margin-top: 40px;
    margin-left: 240px;
    font-size: larger;
    color: #fb8500;
}

#submit-team-container input{
    height: 30px;
    border-radius: 15px;
    width: 250px;
}

#submit-team-container button{
    height: 30px;
    border-radius: 15px;
    width: 70px;
}

#search-input-text::-webkit-input-placeholder{
    font-style: italic;
}

#search-input-text::-moz-placeholder{
    font-style: italic;
}

#search-input-text::-ms-input-placeholder{
    font-style: italic;
}